#hero {
    margin: 50px 150px;
}

.container-sm {
    margin-top: 100px;
    text-align: center;
}

#popular_products {
    padding-left: 120px;
    padding-right: 50px;
    margin-bottom: 80px;
}

#navbarNav {
    display: flex;
    justify-content: center;
}

.col {
    margin: 30px;
}

.card {
    width: 300px;
    height: 550px;
}

#features {
    margin: 100px;
    padding-left: 250px;
}

#features i {
    font-size: 30px;
    color:crimson;
}

#photos {
    width: 1500px;
    padding-left: 350px;
    margin-bottom: 100px;
}

#gallery img {
    box-shadow: 2px 2px 5px #999;
}