
#image {
  width: 100%;

}
.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images img{

    width: 100%;
    border-radius: 10px;
}
.carrousel button {
    background-color: transparent;
    border: none;
}
.images-container {
    display: flex;
}

.star{
  color:yellow
}
